<a href="https://colab.research.google.com/github/Mahale-Pradnesh/Data-Science-and-Machine-Learning/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List:**
when we what to represent a group of individuals object as a single entity, where

a.insertion order is preserved

b.duplicates are allowed

c.hetrogeneous objects are allowed

List is

Creation of list objects:
1.we can create empty list objects as follows:

In [ ]:
list=[]
print(list)
print(type(list))

[]
<class 'list'>

2.If we know the elements already then we can create list as folows:

In [ ]:
number=[10,20,30,40]
print(number)
print(type(number))

[10, 20, 30, 40]
<class 'list'>

3.with Dynamic Input:

In [ ]:
list=eval(input("Enter list:"))
print(list)
print(type(list))

Enter list:[10,20,30,40]
[10, 20, 30, 40]
<class 'list'>

Above mentioned method is generic
give respective paranthesis for all non-fondamental data types

4.with list() function

In [ ]:
l=range(0,10,2)
print(l)
print(type(l))

range(0, 10, 2)
<class 'range'>

In [ ]:
s="Learning Python is very Easy !!!!"
l=s.split()
print(l)
print(type(l))

['Learning', 'Python', 'is', 'very', 'Easy', '!!!!']
<class 'list'>

In [ ]:
#Nested list
m=[10,20,30,[40,50]]

In [ ]:
print(m)
print(type(m))

[10, 20, 30, [40, 50]]
<class 'list'>

Accessing Elements of the List:
1.By using index:

In [ ]:
l=[1,2,3,4,5]
print(l[0])

1

In [ ]:
print(l[10])

IndexError: ignored

2.By using slice operator:
list2=list1[start:stop:step]

In [ ]:
n=[1,2,3,4,5,6,7,8,9,10]
print(n[2:7:2])

[3, 5, 7]

In [ ]:
print(n[3:7])

[4, 5, 6, 7]

In [ ]:
print(n[4:10])

[5, 6, 7, 8, 9, 10]

once we create a list object, we can modify its content.Hence list objects are mutable

In [ ]:
n=[1,2,3,4,5]
print(n)
n[1]=777
print(n)

[1, 2, 3, 4, 5]
[1, 777, 3, 4, 5]

Traversing the element jof the list:\
1.By using while loop:

In [ ]:
n=[0,1,2,3,4,5,6,7,8,9,10]
i=0
while i<len(n):
  print(n[i])
  i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,len(n),2):
    print(i)

1
3
5
7
9