<a href="https://colab.research.google.com/github/Mahale-Pradnesh/Data-Science-and-Machine-Learning/blob/main/Tuple_pract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
t=(1,2,3,4,5,6,7)

In [ ]:
print(t[100])

IndexError: ignored

In [ ]:
print(t[-1])

In [ ]:
t=(10,20,30,40,50,60)
print(t[2:5])

(30, 40, 50)

In [ ]:
print(t[2:100])

(30, 40, 50, 60)

Tuple vs immutability  Once we create tuple we can not change its contents

In [ ]:
l=[1,2,3,4,5,6,7]
l[1]=10
print(l)

[1, 10, 3, 4, 5, 6, 7]

Mathmatical Operations for a tuple:
we can apply + and * operator for a tuple
1. Concatenation Operator(+)
2. Multiplication operator on tuple(*)

In [ ]:
t1=(1,2,3,4)
t2=(5,6,7,8,9)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
t2=t1+t2
print(t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

Multiplication Operator is  a repeatation operator

In [ ]:
t1=(10,20,30)
t2=t1*3
print(t2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

Important Functions of tuple:
1. len() : to return number of elements present in tuple
2. count(): to return number of occurences of given elements
3. index(): return index of first occurence of the given element. If the specific element is not available then it will give ValueError
4. sorted(): to sort the elements on default natural sorted order
5. min(): this return min values according  to default natural sorting order
6. max():this return max values according  to default natural sorting order

In [ ]:
t=(10,20,30,40,50)
print(len(t))

5

In [ ]:
t=(10,20,10,10,20)
print(t.count(10))

3

In [ ]:
t=(10,20,10,10,20)
print(t.index(10))
print(t.index(20))
print(t.index(30))

0
1

ValueError: ignored

In [ ]:
t=(40,10,30,20)
t1=sorted(t)
print(t1)
print(t)

[10, 20, 30, 40]
(40, 10, 30, 20)