<a href="https://colab.research.google.com/github/Mahale-Pradnesh/Data-Science-and-Machine-Learning/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuple:**
tuple objects are immutable i.e. once we create a tuple we can not change its contents
inssertion orser is preserved duplicates are allowed
heterogenneus value are allowed.

In [ ]:
t=12,20,30,40,50
print(t)
print(type(t))

(12, 20, 30, 40, 50)
<class 'tuple'>

Single valued tuple

In [ ]:
t=10
print(t)
print(type(t))

10
<class 'int'>

In [ ]:
t=10,
print(t)
print(type(t))

(10,)
<class 'tuple'>

Which of the following is a vlaid tuple?

1.t=()

2.t=1,2,3,4,5

3.t=10

4.t=10,

5.t=(10)

6.t=(10,)

7.t=(1,2,3,4,5)

In [ ]:
t=()
print(type(t))

<class 'tuple'>

In [ ]:
t=1,2,3,4,5
print(type(t))

<class 'tuple'>

In [ ]:
t=10
print(type(t))

<class 'int'>

In [ ]:
t=10,
print(type(t))

<class 'tuple'>

In [ ]:
t=(10)
print(type(t))

<class 'int'>

In [ ]:
t=(10,)
print(type(t))

<class 'tuple'>

Tuple Creation:
1.Creation of empty tuple
2.Creation of single valued tuple
3.creation of multiple valued tuple
4.creation with tuple function

In [ ]:
t=()
print(type(t))

<class 'tuple'>

In [ ]:
t=10,
print(type(t))

<class 'tuple'>

In [ ]:
t=(1,2,3,4,5)
print(type(t))

<class 'tuple'>

In [ ]:
t=tuple(range(10,100,10))
print(t)

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [ ]:
l=[1,2,3,4,5,6,7,8,9,9]
t=tuple(l)
print(t)
print(type(t))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 9)
<class 'tuple'>

In [ ]:
l=list(range(9,19,5))
print(l)
print(type(l))

[9, 14]
<class 'list'>